# Ignore all
*
# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!makefile

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compressed files
*.tgz
*.zip
*.tar