# Ignore all
*
# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!Makefile

# Ignore build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/Makefile

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compressed files
*.tgz
*.zip
*.tar